Automation-proc-redesign-draft.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Automation-proc-redesign-draft
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.4.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: start_automation-source-input_normalizer-target
      source: start_automation
      sourceHandle: source
      target: input_normalizer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: agent
      id: input_normalizer-source-router_agent-target
      source: input_normalizer
      sourceHandle: source
      target: router_agent
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: agent
        targetType: code
      id: router_agent-source-route_parser-target
      source: router_agent
      sourceHandle: source
      target: route_parser
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: route_parser-source-route_if-target
      source: route_parser
      sourceHandle: source
      target: route_if
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: agent
      id: route_if-case_read_only-read_only_agent-target
      source: route_if
      sourceHandle: case_read_only
      target: read_only_agent
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: agent
      id: route_if-case_modify_request-locator_agent-target
      source: route_if
      sourceHandle: case_modify_request
      target: locator_agent
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: end
      id: route_if-case_clarify_needed-end_clarify-target
      source: route_if
      sourceHandle: case_clarify_needed
      target: end_clarify
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: end
      id: route_if-false-end_unsupported-target
      source: route_if
      sourceHandle: 'false'
      target: end_unsupported
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: agent
        targetType: end
      id: read_only_agent-source-end_read_only-target
      source: read_only_agent
      sourceHandle: source
      target: end_read_only
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: agent
        targetType: agent
      id: locator_agent-source-intent_template_agent-target
      source: locator_agent
      sourceHandle: source
      target: intent_template_agent
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: agent
        targetType: code
      id: intent_template_agent-source-intent_validator-target
      source: intent_template_agent
      sourceHandle: source
      target: intent_validator
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: intent_validator-source-intent_valid_if-target
      source: intent_validator
      sourceHandle: source
      target: intent_valid_if
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: agent
      id: intent_valid_if-case_intent_valid-preview_agent-target
      source: intent_valid_if
      sourceHandle: case_intent_valid
      target: preview_agent
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: end
      id: intent_valid_if-false-end_intent_invalid-target
      source: intent_valid_if
      sourceHandle: 'false'
      target: end_intent_invalid
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: agent
        targetType: code
      id: preview_agent-source-preview_parser-target
      source: preview_agent
      sourceHandle: source
      target: preview_parser
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: preview_parser-source-preview_ok_if-target
      source: preview_parser
      sourceHandle: source
      target: preview_ok_if
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: if-else
      id: preview_ok_if-case_preview_ok-execute_mode_if-target
      source: preview_ok_if
      sourceHandle: case_preview_ok
      target: execute_mode_if
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: end
      id: preview_ok_if-false-end_preview_failed-target
      source: preview_ok_if
      sourceHandle: 'false'
      target: end_preview_failed
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: agent
      id: execute_mode_if-case_auto_apply-apply_agent-target
      source: execute_mode_if
      sourceHandle: case_auto_apply
      target: apply_agent
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: end
      id: execute_mode_if-false-end_preview_only_success-target
      source: execute_mode_if
      sourceHandle: 'false'
      target: end_preview_only_success
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: agent
        targetType: code
      id: apply_agent-source-apply_parser-target
      source: apply_agent
      sourceHandle: source
      target: apply_parser
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: apply_parser-source-apply_ok_if-target
      source: apply_parser
      sourceHandle: source
      target: apply_ok_if
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: end
      id: apply_ok_if-case_apply_ok-end_apply_success-target
      source: apply_ok_if
      sourceHandle: case_apply_ok
      target: end_apply_success
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: end
      id: apply_ok_if-false-end_apply_failed-target
      source: apply_ok_if
      sourceHandle: 'false'
      target: end_apply_failed
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: user_request
          max_length: 4096
          options: []
          required: true
          type: paragraph
          variable: user_request
        - label: automation_context
          max_length: 4096
          options: []
          required: false
          type: paragraph
          variable: automation_context
        - label: execute_mode
          max_length: 64
          options:
          - label: preview_only
            value: preview_only
          - label: auto_apply
            value: auto_apply
          required: true
          type: select
          variable: execute_mode
      height: 164
      id: start_automation
      position:
        x: 80
        y: 520
      positionAbsolute:
        x: 80
        y: 520
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: |
          def main(user_request: str = "", automation_context: str = "", execute_mode: str = "preview_only") -> dict:
              request_text = (user_request or "").strip()
              context_text = (automation_context or "").strip()
              mode = (execute_mode or "preview_only").strip()
              if mode not in ("preview_only", "auto_apply"):
                  mode = "preview_only"
              has_context = "true" if context_text else "false"
              return {
                  "normalized_request": request_text,
                  "normalized_context": context_text,
                  "has_context": has_context,
                  "normalized_execute_mode": mode,
              }
        code_language: python3
        desc: 规范化工作流输入，保持请求与上下文分离。
        outputs:
          has_context:
            children: null
            type: string
          normalized_context:
            children: null
            type: string
          normalized_execute_mode:
            children: null
            type: string
          normalized_request:
            children: null
            type: string
        selected: false
        title: InputNormalizer
        type: code
        variables:
        - value_selector:
          - start_automation
          - user_request
          variable: user_request
        - value_selector:
          - start_automation
          - automation_context
          variable: automation_context
        - value_selector:
          - start_automation
          - execute_mode
          variable: execute_mode
      height: 54
      id: input_normalizer
      position:
        x: 360
        y: 520
      positionAbsolute:
        x: 360
        y: 520
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: |
              你是 Automation 路由 Agent。

              你的职责：
              1. 判断当前请求属于查询、修改、需要澄清还是不支持。
              2. 只输出一个 JSON 对象，不要输出 Markdown 代码块。

              你必须输出：
              {
                "route": "read_only|modify_request|clarify_needed|unsupported",
                "message": "给用户的简短说明"
              }

              规则：
              1. 如果用户明确要求修改流程、步骤、指令或字段，route=modify_request。
              2. 如果用户只是查看、分析、解释，route=read_only。
              3. 如果用户想修改但目标不明确，route=clarify_needed。
              4. 如果请求超出流程读取/修改范围，route=unsupported。
              5. 不调用任何工具。
          maximum_iterations:
            type: constant
            value: 3
          mcp_prompts_as_tools:
            type: constant
            value: false
          mcp_resources_as_tools:
            type: constant
            value: false
          mcp_servers_config:
            type: constant
            value: ''
          model:
            type: constant
            value: &default_agent_model
              completion_params:
                num_ctx: 8192
                temperature: 0.1
              mode: chat
              model: gpt-oss:20b
              model_type: llm
              provider: langgenius/ollama/ollama
              type: model-selector
          query:
            type: constant
            value: |
              用户请求：
              {{#input_normalizer.normalized_request#}}

              本地上下文：
              {{#input_normalizer.normalized_context#}}
          tools:
            type: constant
            value: []
        agent_strategy_label: FunctionCalling (支持 MCP 工具)
        agent_strategy_name: mcp_sse_function_calling
        agent_strategy_provider_name: junjiem/mcp_see_agent/mcp_see_agent
        desc: 只负责把请求路由到查询、修改、澄清或不支持分支。
        meta:
          minimum_dify_version: null
          version: 0.0.1
        output_schema: null
        plugin_unique_identifier: junjiem/mcp_see_agent:0.2.4@82caf96890992e9dec2c43c3fac82bfce8bd18a41de7c2b6948151b2d7f7b7a2
        selected: false
        title: RouterAgent
        tool_node_version: '2'
        type: agent
      height: 198
      id: router_agent
      position:
        x: 640
        y: 520
      positionAbsolute:
        x: 640
        y: 520
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: |
          import json


          def _strip_code_fence(text: str) -> str:
              value = (text or "").strip()
              if value.startswith("```"):
                  lines = value.splitlines()
                  if len(lines) >= 2 and lines[-1].strip() == "```":
                      return "\n".join(lines[1:-1]).strip()
              return value


          def main(route_text: str = "") -> dict:
              cleaned = _strip_code_fence(route_text)
              route = "clarify_needed"
              message = "请明确要查询或修改的流程、步骤、指令。"

              if cleaned:
                  try:
                      data = json.loads(cleaned)
                      if isinstance(data, dict):
                          value = str(data.get("route", "")).strip()
                          if value in ("read_only", "modify_request", "clarify_needed", "unsupported"):
                              route = value
                          message = str(data.get("message", "")).strip() or message
                  except Exception:
                      pass

              return {
                  "route": route,
                  "route_message": message
              }
        code_language: python3
        desc: 解析 RouterAgent 输出，防止路由 JSON 漂移。
        outputs:
          route:
            children: null
            type: string
          route_message:
            children: null
            type: string
        selected: false
        title: RouteParser
        type: code
        variables:
        - value_selector:
          - router_agent
          - text
          variable: route_text
      height: 54
      id: route_parser
      position:
        x: 920
        y: 520
      positionAbsolute:
        x: 920
        y: 520
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: case_read_only
          conditions:
          - comparison_operator: is
            id: route_if_case_read_only_cond
            value: read_only
            varType: string
            variable_selector:
            - route_parser
            - route
          id: case_read_only
          logical_operator: and
        - case_id: case_modify_request
          conditions:
          - comparison_operator: is
            id: route_if_case_modify_request_cond
            value: modify_request
            varType: string
            variable_selector:
            - route_parser
            - route
          id: case_modify_request
          logical_operator: and
        - case_id: case_clarify_needed
          conditions:
          - comparison_operator: is
            id: route_if_case_clarify_needed_cond
            value: clarify_needed
            varType: string
            variable_selector:
            - route_parser
            - route
          id: case_clarify_needed
          logical_operator: and
        desc: 根据路由结果进入查询、修改、澄清或不支持分支。
        selected: false
        title: RouteIf
        type: if-else
      height: 270
      id: route_if
      position:
        x: 1200
        y: 520
      positionAbsolute:
        x: 1200
        y: 520
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: |
              你是 Automation 查询 Agent。

              你的职责：
              1. 只读取和分析流程。
              2. 根据问题调用只读 MCP 工具。
              3. 返回简洁、准确的结论。

              规则：
              1. 不假设流程名、步骤名、指令名唯一。
              2. 需要定位时先用 list_procs 或 get_proc_overview。
              3. 需要字段细节时用 get_proc_detail 或 get_operation_schema。
              4. 涉及变量、IO、通讯、PLC、工站时用 get_reference_catalog。
              5. 禁止调用 preview_intent、apply_intent、preview_patch、apply_patch。
          maximum_iterations:
            type: constant
            value: 6
          mcp_prompts_as_tools:
            type: constant
            value: false
          mcp_resources_as_tools:
            type: constant
            value: false
          mcp_servers_config:
            type: constant
            value: &default_mcp_servers_config "{\n  \"bridge\": {\n    \"transport\": \"sse\",\n    \"url\": \"http://172.16.211.182:5001/sse\",\n    \"headers\": {},\n    \"timeout\": 90,\n    \"sse_read_timeout\": 90\n  }\n}"
          model:
            type: constant
            value: *default_agent_model
          query:
            type: constant
            value: |
              用户请求：
              {{#input_normalizer.normalized_request#}}

              本地上下文：
              {{#input_normalizer.normalized_context#}}
          tools:
            type: constant
            value: &default_mcp_tools
            - enabled: true
              extra:
                description: 获取 MCP 服务端的工具列表。
              parameters:
                servers_config:
                  auto: 1
                  value: null
              provider_name: junjiem/mcp_sse/mcp_sse
              provider_show_name: junjiem/mcp_sse/mcp_sse
              schemas:
              - auto_generate: null
                default: 0
                form: form
                human_description:
                  en_US: Fetch and call the preset MCP Resources as Tools.
                  ja_JP: Fetch and call the preset MCP Resources as Tools.
                  pt_BR: Fetch and call the preset MCP Resources as Tools.
                  zh_Hans: 将预设的 MCP Resources 作为 Tools 返回和调用。
                label:
                  en_US: MCP Resources as Tools
                  ja_JP: MCP Resources as Tools
                  pt_BR: MCP Resources as Tools
                  zh_Hans: MCP 资源作为工具
                llm_description: ''
                max: null
                min: null
                name: resources_as_tools
                options: []
                placeholder: null
                precision: null
                required: true
                scope: null
                template: null
                type: boolean
              - auto_generate: null
                default: 0
                form: form
                human_description:
                  en_US: Fetch and call the preset MCP Prompts as Tools.
                  ja_JP: Fetch and call the preset MCP Prompts as Tools.
                  pt_BR: Fetch and call the preset MCP Prompts as Tools.
                  zh_Hans: 将预设的 MCP Prompts 作为 Tools 返回和调用。
                label:
                  en_US: MCP Prompts as Tools
                  ja_JP: MCP Prompts as Tools
                  pt_BR: MCP Prompts as Tools
                  zh_Hans: MCP 提示词作为工具
                llm_description: ''
                max: null
                min: null
                name: prompts_as_tools
                options: []
                placeholder: null
                precision: null
                required: true
                scope: null
                template: null
                type: boolean
              - auto_generate: null
                default: null
                form: llm
                human_description:
                  en_US: MCP Servers config, support multiple MCP services.
                  ja_JP: MCP Servers config, support multiple MCP services.
                  pt_BR: MCP Servers config, support multiple MCP services.
                  zh_Hans: MCP 服务配置，支持多个 MCP 服务。
                label:
                  en_US: MCP Servers config
                  ja_JP: MCP Servers config
                  pt_BR: MCP Servers config
                  zh_Hans: MCP 服务配置
                llm_description: ''
                max: null
                min: null
                name: servers_config
                options: []
                placeholder: null
                precision: null
                required: false
                scope: null
                template: null
                type: string
              settings:
                prompts_as_tools:
                  value:
                    type: constant
                    value: 0
                resources_as_tools:
                  value:
                    type: constant
                    value: 0
              tool_description: 获取 MCP 服务端的工具列表。
              tool_label: 获取 MCP 工具列表
              tool_name: mcp_sse_list_tools
              type: builtin
            - enabled: true
              extra:
                description: 调用 MCP 服务端工具。
              parameters:
                arguments:
                  auto: 1
                  value: null
                servers_config:
                  auto: 1
                  value: null
                tool_name:
                  auto: 1
                  value: null
              provider_name: junjiem/mcp_sse/mcp_sse
              provider_show_name: junjiem/mcp_sse/mcp_sse
              schemas:
              - auto_generate: null
                default: null
                form: llm
                human_description:
                  en_US: Name of the tool to execute.
                  ja_JP: Name of the tool to execute.
                  pt_BR: Name of the tool to execute.
                  zh_Hans: 要执行的工具名称。
                label:
                  en_US: Tool Name
                  ja_JP: Tool Name
                  pt_BR: Tool Name
                  zh_Hans: 工具名称
                llm_description: Name of the MCP tool to execute.
                max: null
                min: null
                name: tool_name
                options: []
                placeholder: null
                precision: null
                required: true
                scope: null
                template: null
                type: string
              - auto_generate: null
                default: null
                form: llm
                human_description:
                  en_US: Tool arguments (JSON string in the python dict[str, Any] format).
                  ja_JP: Tool arguments (JSON string in the python dict[str, Any] format).
                  pt_BR: Tool arguments (JSON string in the python dict[str, Any] format).
                  zh_Hans: 工具参数。
                label:
                  en_US: Arguments
                  ja_JP: Arguments
                  pt_BR: Arguments
                  zh_Hans: 参数
                llm_description: MCP Tool arguments (JSON string in the python dict[str, Any] format).
                max: null
                min: null
                name: arguments
                options: []
                placeholder: null
                precision: null
                required: true
                scope: null
                template: null
                type: string
              - auto_generate: null
                default: 0
                form: form
                human_description:
                  en_US: Fetch and call the preset MCP Resources as Tools.
                  ja_JP: Fetch and call the preset MCP Resources as Tools.
                  pt_BR: Fetch and call the preset MCP Resources as Tools.
                  zh_Hans: 将预设的 MCP Resources 作为 Tools 返回和调用。
                label:
                  en_US: MCP Resources as Tools
                  ja_JP: MCP Resources as Tools
                  pt_BR: MCP Resources as Tools
                  zh_Hans: MCP 资源作为工具
                llm_description: ''
                max: null
                min: null
                name: resources_as_tools
                options: []
                placeholder: null
                precision: null
                required: true
                scope: null
                template: null
                type: boolean
              - auto_generate: null
                default: 0
                form: form
                human_description:
                  en_US: Fetch and call the preset MCP Prompts as Tools.
                  ja_JP: Fetch and call the preset MCP Prompts as Tools.
                  pt_BR: Fetch and call the preset MCP Prompts as Tools.
                  zh_Hans: 将预设的 MCP Prompts 作为 Tools 返回和调用。
                label:
                  en_US: MCP Prompts as Tools
                  ja_JP: MCP Prompts as Tools
                  pt_BR: MCP Prompts as Tools
                  zh_Hans: MCP 提示词作为工具
                llm_description: ''
                max: null
                min: null
                name: prompts_as_tools
                options: []
                placeholder: null
                precision: null
                required: true
                scope: null
                template: null
                type: boolean
              - auto_generate: null
                default: null
                form: llm
                human_description:
                  en_US: MCP Servers config, support multiple MCP services.
                  ja_JP: MCP Servers config, support multiple MCP services.
                  pt_BR: MCP Servers config, support multiple MCP services.
                  zh_Hans: MCP 服务配置，支持多个 MCP 服务。
                label:
                  en_US: MCP Servers config
                  ja_JP: MCP Servers config
                  pt_BR: MCP Servers config
                  zh_Hans: MCP 服务配置
                llm_description: ''
                max: null
                min: null
                name: servers_config
                options: []
                placeholder: null
                precision: null
                required: false
                scope: null
                template: null
                type: string
              settings:
                prompts_as_tools:
                  value:
                    type: constant
                    value: 0
                resources_as_tools:
                  value:
                    type: constant
                    value: 0
              tool_description: 调用 MCP 服务端工具。
              tool_label: 调用 MCP 工具
              tool_name: mcp_sse_call_tool
              type: builtin
        agent_strategy_label: FunctionCalling (支持 MCP 工具)
        agent_strategy_name: mcp_sse_function_calling
        agent_strategy_provider_name: junjiem/mcp_see_agent/mcp_see_agent
        desc: 查询专用 Agent，只做读取和分析。
        meta:
          minimum_dify_version: null
          version: 0.0.1
        output_schema: null
        plugin_unique_identifier: junjiem/mcp_see_agent:0.2.4@82caf96890992e9dec2c43c3fac82bfce8bd18a41de7c2b6948151b2d7f7b7a2
        selected: false
        title: ReadOnlyAgent
        tool_node_version: '2'
        type: agent
      height: 198
      id: read_only_agent
      position:
        x: 1480
        y: 120
      positionAbsolute:
        x: 1480
        y: 120
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - read_only_agent
          - text
          value_type: string
          variable: text
        selected: false
        title: 结束-查询
        type: end
      height: 90
      id: end_read_only
      position:
        x: 1760
        y: 120
      positionAbsolute:
        x: 1760
        y: 120
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - route_parser
          - route_message
          value_type: string
          variable: text
        selected: false
        title: 结束-需澄清
        type: end
      height: 90
      id: end_clarify
      position:
        x: 1480
        y: 380
      positionAbsolute:
        x: 1480
        y: 380
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - route_parser
          - route_message
          value_type: string
          variable: text
        selected: false
        title: 结束-不支持
        type: end
      height: 90
      id: end_unsupported
      position:
        x: 1480
        y: 760
      positionAbsolute:
        x: 1480
        y: 760
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: |
              你是 Automation 修改定位 Agent。

              你的职责：
              1. 根据用户请求和可选本地上下文定位目标流程、步骤、指令。
              2. 读取 get_proc_detail、get_operation_schema、get_reference_catalog。
              3. 输出供后续节点使用的紧凑 JSON。

              规则：
              1. automation_context 只能当线索，不能当最终事实。
              2. 修改前必须读取 get_proc_detail。
              3. 修改指令字段前必须读取 get_operation_schema。
              4. 涉及引用对象时必须读取 get_reference_catalog。
              5. 不要生成意图，不要预演，不要提交。

              你必须只输出一个 JSON 对象，不要输出 Markdown 代码块。
              输出字段尽量包含：
              - procIndex
              - baseProcId
              - stepId
              - opId
              - expectedOperaType
              - recommendedIntentType
              - targetFieldHints
              - locateSummary
          maximum_iterations:
            type: constant
            value: 6
          mcp_prompts_as_tools:
            type: constant
            value: false
          mcp_resources_as_tools:
            type: constant
            value: false
          mcp_servers_config:
            type: constant
            value: *default_mcp_servers_config
          model:
            type: constant
            value: *default_agent_model
          query:
            type: constant
            value: |
              用户请求：
              {{#input_normalizer.normalized_request#}}

              本地上下文：
              {{#input_normalizer.normalized_context#}}
          tools:
            type: constant
            value: *default_mcp_tools
        agent_strategy_label: FunctionCalling (支持 MCP 工具)
        agent_strategy_name: mcp_sse_function_calling
        agent_strategy_provider_name: junjiem/mcp_see_agent/mcp_see_agent
        desc: 修改定位专用 Agent，只负责找目标和读约束。
        meta:
          minimum_dify_version: null
          version: 0.0.1
        output_schema: null
        plugin_unique_identifier: junjiem/mcp_see_agent:0.2.4@82caf96890992e9dec2c43c3fac82bfce8bd18a41de7c2b6948151b2d7f7b7a2
        selected: false
        title: LocatorAgent
        tool_node_version: '2'
        type: agent
      height: 198
      id: locator_agent
      position:
        x: 1480
        y: 1120
      positionAbsolute:
        x: 1480
        y: 1120
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: |
              你是 Automation 中间意图生成 Agent。

              你的职责：
              1. 根据用户请求和定位结果，读取本地意图模板。
              2. 生成一个合法的中间意图 JSON。
              3. 只输出 JSON 对象，不要输出 Markdown 代码块。

              规则：
              1. 先调用 list_intent_templates 或 get_intent_template。
              2. 以模板中的 intentShape 和 rules 为准，不要凭记忆手写结构。
              3. 字段名必须使用 get_operation_schema 或 get_reference_catalog 返回的精确值。
              4. fieldChanges 和 fieldValues 必须是 JSON 对象。
              5. 只生成一个中间意图对象。
              6. 不要预演，不要提交。
          maximum_iterations:
            type: constant
            value: 6
          mcp_prompts_as_tools:
            type: constant
            value: false
          mcp_resources_as_tools:
            type: constant
            value: false
          mcp_servers_config:
            type: constant
            value: *default_mcp_servers_config
          model:
            type: constant
            value: *default_agent_model
          query:
            type: constant
            value: |
              用户请求：
              {{#input_normalizer.normalized_request#}}

              定位结果：
              {{#locator_agent.text#}}

              本地上下文：
              {{#input_normalizer.normalized_context#}}
          tools:
            type: constant
            value: *default_mcp_tools
        agent_strategy_label: FunctionCalling (支持 MCP 工具)
        agent_strategy_name: mcp_sse_function_calling
        agent_strategy_provider_name: junjiem/mcp_see_agent/mcp_see_agent
        desc: 根据模板与定位结果生成中间意图 JSON。
        meta:
          minimum_dify_version: null
          version: 0.0.1
        output_schema: null
        plugin_unique_identifier: junjiem/mcp_see_agent:0.2.4@82caf96890992e9dec2c43c3fac82bfce8bd18a41de7c2b6948151b2d7f7b7a2
        selected: false
        title: IntentTemplateAgent
        tool_node_version: '2'
        type: agent
      height: 198
      id: intent_template_agent
      position:
        x: 1760
        y: 1120
      positionAbsolute:
        x: 1760
        y: 1120
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: |
          import json


          def _strip_code_fence(text: str) -> str:
              value = (text or "").strip()
              if value.startswith("```"):
                  lines = value.splitlines()
                  if len(lines) >= 2 and lines[-1].strip() == "```":
                      return "\n".join(lines[1:-1]).strip()
              return value


          def main(intent_text: str = "") -> dict:
              cleaned = _strip_code_fence(intent_text)
              if not cleaned:
                  return {
                      "intent_valid": "false",
                      "intent_json": "",
                      "intent_error_message": "IntentTemplateAgent 未输出中间意图 JSON。"
                  }

              try:
                  obj = json.loads(cleaned)
              except Exception as ex:
                  return {
                      "intent_valid": "false",
                      "intent_json": cleaned,
                      "intent_error_message": f"中间意图不是合法 JSON：{ex}"
                  }

              if not isinstance(obj, dict):
                  return {
                      "intent_valid": "false",
                      "intent_json": cleaned,
                      "intent_error_message": "中间意图必须是 JSON 对象。"
                  }

              intent_type = str(obj.get("intentType", "")).strip()
              if not intent_type:
                  return {
                      "intent_valid": "false",
                      "intent_json": cleaned,
                      "intent_error_message": "中间意图缺少 intentType。"
                  }

              required_keys = {
                  "update_proc_head_field": ["procIndex", "baseProcId", "fieldChanges"],
                  "update_step_field": ["procIndex", "baseProcId", "stepId", "fieldChanges"],
                  "update_operation_field": ["procIndex", "baseProcId", "stepId", "opId", "fieldChanges"],
                  "append_step": ["procIndex", "baseProcId"],
                  "insert_step": ["procIndex", "baseProcId", "insertIndex"],
                  "delete_step": ["procIndex", "baseProcId", "stepId"],
                  "move_step": ["procIndex", "baseProcId", "stepId", "targetIndex"],
                  "append_operation": ["procIndex", "baseProcId", "stepId", "operaType"],
                  "insert_operation": ["procIndex", "baseProcId", "stepId", "insertIndex", "operaType"],
                  "delete_operation": ["procIndex", "baseProcId", "stepId", "opId"],
                  "move_operation": ["procIndex", "baseProcId", "stepId", "opId", "targetIndex"],
              }

              if intent_type not in required_keys:
                  return {
                      "intent_valid": "false",
                      "intent_json": cleaned,
                      "intent_error_message": f"不支持的 intentType：{intent_type}"
                  }

              for key in required_keys[intent_type]:
                  if key not in obj:
                      return {
                          "intent_valid": "false",
                          "intent_json": cleaned,
                          "intent_error_message": f"中间意图缺少必填字段：{key}"
                      }

              for object_key in ("fieldChanges", "fieldValues"):
                  if object_key in obj and not isinstance(obj[object_key], dict):
                      return {
                          "intent_valid": "false",
                          "intent_json": cleaned,
                          "intent_error_message": f"{object_key} 必须是对象。"
                      }

              return {
                  "intent_valid": "true",
                  "intent_json": json.dumps(obj, ensure_ascii=False, separators=(",", ":")),
                  "intent_error_message": ""
              }
        code_language: python3
        desc: 预先拦截中间意图的 JSON 结构错误，减少无效 MCP 调用。
        outputs:
          intent_error_message:
            children: null
            type: string
          intent_json:
            children: null
            type: string
          intent_valid:
            children: null
            type: string
        selected: false
        title: IntentValidator
        type: code
        variables:
        - value_selector:
          - intent_template_agent
          - text
          variable: intent_text
      height: 54
      id: intent_validator
      position:
        x: 2040
        y: 1120
      positionAbsolute:
        x: 2040
        y: 1120
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: case_intent_valid
          conditions:
          - comparison_operator: is
            id: intent_valid_if_case_valid_cond
            value: 'true'
            varType: string
            variable_selector:
            - intent_validator
            - intent_valid
          id: case_intent_valid
          logical_operator: and
        desc: 只有中间意图基础结构合法，才进入预演。
        selected: false
        title: IntentValidIf
        type: if-else
      height: 126
      id: intent_valid_if
      position:
        x: 2320
        y: 1120
      positionAbsolute:
        x: 2320
        y: 1120
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - intent_validator
          - intent_error_message
          value_type: string
          variable: text
        selected: false
        title: 结束-意图非法
        type: end
      height: 90
      id: end_intent_invalid
      position:
        x: 2600
        y: 980
      positionAbsolute:
        x: 2600
        y: 980
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: |
              你是 Automation 预演 Agent。

              你的职责：
              1. 接收已经通过基础校验的中间意图 JSON。
              2. 只调用 preview_intent。
              3. 直接返回工具调用结果文本。

              规则：
              1. 不要重新生成意图。
              2. 不要重新定位。
              3. 不要调用其他工具。
              4. 不要提交。
              5. 不要输出 Markdown 代码块。
          maximum_iterations:
            type: constant
            value: 2
          mcp_prompts_as_tools:
            type: constant
            value: false
          mcp_resources_as_tools:
            type: constant
            value: false
          mcp_servers_config:
            type: constant
            value: *default_mcp_servers_config
          model:
            type: constant
            value: *default_agent_model
          query:
            type: constant
            value: '{{#intent_validator.intent_json#}}'
          tools:
            type: constant
            value: *default_mcp_tools
        agent_strategy_label: FunctionCalling (支持 MCP 工具)
        agent_strategy_name: mcp_sse_function_calling
        agent_strategy_provider_name: junjiem/mcp_see_agent/mcp_see_agent
        desc: 只负责预演中间意图。
        meta:
          minimum_dify_version: null
          version: 0.0.1
        output_schema: null
        plugin_unique_identifier: junjiem/mcp_see_agent:0.2.4@82caf96890992e9dec2c43c3fac82bfce8bd18a41de7c2b6948151b2d7f7b7a2
        selected: false
        title: PreviewAgent
        tool_node_version: '2'
        type: agent
      height: 198
      id: preview_agent
      position:
        x: 2600
        y: 1120
      positionAbsolute:
        x: 2600
        y: 1120
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: |
          import json


          def main(preview_text: str = "") -> dict:
              text = (preview_text or "").strip()
              if not text:
                  return {
                      "preview_ok": "false",
                      "preview_summary": "",
                      "preview_error": "preview_intent 未返回内容。"
                  }

              try:
                  obj = json.loads(text)
              except Exception as ex:
                  return {
                      "preview_ok": "false",
                      "preview_summary": "",
                      "preview_error": f"preview_intent 返回的不是合法 JSON：{ex}"
                  }

              if not obj.get("ok", False):
                  message = str(obj.get("message", "预演失败")).strip()
                  details = str(obj.get("details", "") or "").strip()
                  error_text = message if not details else f"{message}；{details}"
                  return {
                      "preview_ok": "false",
                      "preview_summary": "",
                      "preview_error": error_text
                  }

              data = obj.get("data", {})
              preview = data.get("preview", {})
              messages = preview.get("messages", []) or []
              summary = "；".join(str(item) for item in messages[:5]).strip()
              if not summary:
                  summary = "预演成功。"

              return {
                  "preview_ok": "true",
                  "preview_summary": f"预演成功，未提交。{summary}",
                  "preview_error": ""
              }
        code_language: python3
        desc: 解析预演结果并转成稳定的分支变量。
        outputs:
          preview_error:
            children: null
            type: string
          preview_ok:
            children: null
            type: string
          preview_summary:
            children: null
            type: string
        selected: false
        title: PreviewResultParser
        type: code
        variables:
        - value_selector:
          - preview_agent
          - text
          variable: preview_text
      height: 54
      id: preview_parser
      position:
        x: 2880
        y: 1120
      positionAbsolute:
        x: 2880
        y: 1120
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: case_preview_ok
          conditions:
          - comparison_operator: is
            id: preview_ok_if_case_preview_ok_cond
            value: 'true'
            varType: string
            variable_selector:
            - preview_parser
            - preview_ok
          id: case_preview_ok
          logical_operator: and
        desc: 预演失败直接结束，预演成功才考虑是否提交。
        selected: false
        title: PreviewPassedIf
        type: if-else
      height: 126
      id: preview_ok_if
      position:
        x: 3160
        y: 1120
      positionAbsolute:
        x: 3160
        y: 1120
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - preview_parser
          - preview_error
          value_type: string
          variable: text
        selected: false
        title: 结束-预演失败
        type: end
      height: 90
      id: end_preview_failed
      position:
        x: 3440
        y: 980
      positionAbsolute:
        x: 3440
        y: 980
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: case_auto_apply
          conditions:
          - comparison_operator: is
            id: execute_mode_if_case_auto_apply_cond
            value: auto_apply
            varType: string
            variable_selector:
            - input_normalizer
            - normalized_execute_mode
          id: case_auto_apply
          logical_operator: and
        desc: 默认只预演；仅在 execute_mode=auto_apply 时进入提交。
        selected: false
        title: ExecuteModeIf
        type: if-else
      height: 126
      id: execute_mode_if
      position:
        x: 3440
        y: 1120
      positionAbsolute:
        x: 3440
        y: 1120
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - preview_parser
          - preview_summary
          value_type: string
          variable: text
        selected: false
        title: 结束-仅预演成功
        type: end
      height: 90
      id: end_preview_only_success
      position:
        x: 3720
        y: 1040
      positionAbsolute:
        x: 3720
        y: 1040
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: |
              你是 Automation 提交 Agent。

              你的职责：
              1. 接收已经预演通过的中间意图 JSON。
              2. 只调用 apply_intent。
              3. 直接返回工具调用结果文本。

              规则：
              1. 不要重新生成意图。
              2. 不要重新定位。
              3. 不要调用其他工具。
              4. 只有在上游已确认预演成功时才提交。
              5. 不要输出 Markdown 代码块。
          maximum_iterations:
            type: constant
            value: 2
          mcp_prompts_as_tools:
            type: constant
            value: false
          mcp_resources_as_tools:
            type: constant
            value: false
          mcp_servers_config:
            type: constant
            value: *default_mcp_servers_config
          model:
            type: constant
            value: *default_agent_model
          query:
            type: constant
            value: '{{#intent_validator.intent_json#}}'
          tools:
            type: constant
            value: *default_mcp_tools
        agent_strategy_label: FunctionCalling (支持 MCP 工具)
        agent_strategy_name: mcp_sse_function_calling
        agent_strategy_provider_name: junjiem/mcp_see_agent/mcp_see_agent
        desc: 只负责提交已经预演通过的中间意图。
        meta:
          minimum_dify_version: null
          version: 0.0.1
        output_schema: null
        plugin_unique_identifier: junjiem/mcp_see_agent:0.2.4@82caf96890992e9dec2c43c3fac82bfce8bd18a41de7c2b6948151b2d7f7b7a2
        selected: false
        title: ApplyAgent
        tool_node_version: '2'
        type: agent
      height: 198
      id: apply_agent
      position:
        x: 3720
        y: 1320
      positionAbsolute:
        x: 3720
        y: 1320
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: |
          import json


          def main(apply_text: str = "") -> dict:
              text = (apply_text or "").strip()
              if not text:
                  return {
                      "apply_ok": "false",
                      "apply_message": "",
                      "apply_error": "apply_intent 未返回内容。"
                  }

              try:
                  obj = json.loads(text)
              except Exception as ex:
                  return {
                      "apply_ok": "false",
                      "apply_message": "",
                      "apply_error": f"apply_intent 返回的不是合法 JSON：{ex}"
                  }

              if not obj.get("ok", False):
                  message = str(obj.get("message", "提交失败")).strip()
                  details = str(obj.get("details", "") or "").strip()
                  error_text = message if not details else f"{message}；{details}"
                  return {
                      "apply_ok": "false",
                      "apply_message": "",
                      "apply_error": error_text
                  }

              data = obj.get("data", {})
              apply_result = data.get("apply", {})
              messages = apply_result.get("messages", []) or []
              summary = "；".join(str(item) for item in messages[:5]).strip()
              if not summary:
                  summary = "提交流程修改成功。"

              return {
                  "apply_ok": "true",
                  "apply_message": f"提交成功。{summary}",
                  "apply_error": ""
              }
        code_language: python3
        desc: 解析提交结果并转成稳定的结束文本。
        outputs:
          apply_error:
            children: null
            type: string
          apply_message:
            children: null
            type: string
          apply_ok:
            children: null
            type: string
        selected: false
        title: ApplyResultParser
        type: code
        variables:
        - value_selector:
          - apply_agent
          - text
          variable: apply_text
      height: 54
      id: apply_parser
      position:
        x: 4000
        y: 1320
      positionAbsolute:
        x: 4000
        y: 1320
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: case_apply_ok
          conditions:
          - comparison_operator: is
            id: apply_ok_if_case_apply_ok_cond
            value: 'true'
            varType: string
            variable_selector:
            - apply_parser
            - apply_ok
          id: case_apply_ok
          logical_operator: and
        desc: 提交失败与提交成功分别输出独立结束节点。
        selected: false
        title: ApplyPassedIf
        type: if-else
      height: 126
      id: apply_ok_if
      position:
        x: 4280
        y: 1320
      positionAbsolute:
        x: 4280
        y: 1320
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - apply_parser
          - apply_error
          value_type: string
          variable: text
        selected: false
        title: 结束-提交失败
        type: end
      height: 90
      id: end_apply_failed
      position:
        x: 4560
        y: 1240
      positionAbsolute:
        x: 4560
        y: 1240
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - apply_parser
          - apply_message
          value_type: string
          variable: text
        selected: false
        title: 结束-提交成功
        type: end
      height: 90
      id: end_apply_success
      position:
        x: 4560
        y: 1440
      positionAbsolute:
        x: 4560
        y: 1440
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -78
      y: -74
      zoom: 0.42
